<h1>New Task</h1>
<%= form_for :task do |f| %>
  <label for="">Title</label><br><%= f.text_field :name %><br>
  <label for="">Details</label><br><%= f.text_field :details %><br>
  <%= f.submit %>
<% end %>
